@import '../../variables';

.custom-button {
  border-radius: 6px;
  border: none;
  height: 50px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-family: inherit;
  background: $color-pink;
}
