.dashboard__content-area {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;

    &__desc {
      &--title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #1c1335;
      }

      &--text {
        font-weight: 500;
        font-size: 1rem;
      }
    }

    &__cta {
      width: 10.625rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    &--account-info {
    }

    &--account-summary {
      margin-top: 1.5rem;
      display: flex;

      .account-stats {
        width: 55%;
      }

      .cash-flow {
        margin-left: 1.5rem;
        margin-bottom: 1rem;
        flex-grow: 1;
      }
    }
  }
}
