@import '../../variables.scss';

.open-biz-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .accordion {
    margin: 0;
  }
  .custom-card {
    display: flex;
    flex-wrap: nowrap;
    color: $color-black;

    max-width: 355px;
    padding: 0.5rem 1rem;
    // margin-right: 0;

    &.active-card {
      border: 1px solid $color-pink;
    }

    .option-btn {
      height: 15px;
      width: 17px;
      border-radius: 50%;
    }

    .not-selected {
      background: none;
      border: 1.5px solid #eeeff7;
    }

    .selected {
      background-color: $color-pink;
    }

    div.card-header {
      background: transparent;
      height: 80px;
      border: none;
      cursor: pointer;

      .title {
        font-size: 1rem;
        font-weight: 600;

        span {
          font-weight: normal;
          font-size: 0.8rem;
        }
      }
    }

    div.card-body {
      .list-group-item {
        border: none;
        font-size: 0.8125rem;
      }
    }
  }

  &__nxt-btn {
    width: 95%;
  }
}
