@import '../../variables.scss';

.custom-card {
  display: flex;
  flex-wrap: nowrap;
  color: $color-black;

  &.active-card {
    border: 1px solid $color-pink;
  }

  .option-btn {
    height: 15px;
    width: 17px;
    border-radius: 50%;
  }

  .not-selected {
    background: none;
    border: 1.5px solid #eeeff7;
  }

  .selected {
    background-color: $color-pink;
  }

  div.card-header {
    background: transparent;
    height: 80px;
    border: none;
    cursor: pointer;

    .title {
      font-size: 1rem;
      font-weight: 600;

      span {
        font-weight: normal;
        font-size: 0.8rem;
      }
    }
  }

  div.card-body {
    .list-group-item {
      border: none;
      font-size: 0.8125rem;
    }
  }
}
