.dashboard__account__stats {
  .custom-card {
    // width: 55%;
    flex-direction: column;
  }

  &__summary {
    display: flex;
    width: 100%;
    flex-direction: column;

    &--title {
      font: 1.125rem;
      font-weight: 600;
      margin-bottom: 1.8rem;
    }

    &__breakdown {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 14px;
        font-weight: 500;
        color: #8397ab;
      }

      .amount {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
