.account-info {
  display: flex;
  justify-content: space-between;

  &__card__container {
    // max-width: 29.25rem;
    width: 48%;
    height: 10.62rem;

    & div.custom-card {
      display: flex;
      justify-content: space-between;
    }

    &__account-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .account-type {
        font-weight: 600;
        font-size: 0.875rem;
      }

      .account-number {
        font-size: 0.857rem;
        font-weight: 500;
      }

      .account-balance {
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 1027px) {
  .account-info {
    flex-direction: column;

    &__card__container {
      width: 100%;
      height: 10.62rem;
      margin-bottom: 1rem;
    }
  }
}
