.dashboard-layout {
  display: grid;
  grid-template-columns: minmax(20%, 300px) 1fr;
  //   border: 1px solid green;
  height: 100vh;

  &__body {
    &__content {
      padding: 2.25rem 5.6rem;
      padding-bottom: 0.5rem;
      display: flex;
      width: 100%;
      height: calc(100% - 80px);
      flex-direction: column;
      background: #f2f2f2;
    }
  }
}
