.signin-signup {
  display: grid;
  grid-template-columns: minmax(300px, 358px) auto;

  &__sidebar-container {
    max-width: 408px;
    height: 100vh;
  }

  &__content-area {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      &__form {
        // width: 376px;

        &--title {
          font-size: 1.75rem;
          font-weight: 600;
        }

        p {
          font-size: 1rem;
        }

        &--dynamic-content {
          width: 376px;
        }
      }
    }
  }
}

@media screen and (max-width: 299px) {
  .signin-signup {
    &__sidebar-container {
      //   display: none;
      //   border: 1px solid red;
    }
  }
}
